h1 {
    font-family: sans-serif;
    font-size: 8em;
    font-weight: bold;
    letter-spacing: -.1em;
    color: rgba(255,0,0,.8);
    -webkit-text-stroke: 1px black;
    text-shadow: 5px 5px 0 rgba(255,0,0,.8), -4px 8px 0 rgb(255,0,0);
}