body{
    background-color: #BADA55;
    background-image: url(../images/bg.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-color: #BADA55;
    background-blend-mode: multiply;
    background-attachment: fixed;
}



.main{
    position: absolute;
    top:10vh;
    left:10vw;
    margin: 1em;
    
}

.test{

}

.main h1 {
    font-family: sans-serif;
    font-size: 8em;
    font-weight: bold;
    letter-spacing: -.1em;
    color: rgba(255,0,0,.8);
    -webkit-text-stroke: 1px black;
    text-shadow: 5px 5px 0 rgba(255,0,0,.8), -4px 8px 0 rgb(255,0,0);
    margin: 0 0 .75em 0;
    padding: -1em;
    line-height: 1em;
    mix-blend-mode:normal;
}

p{
    width:36em;
    font-family: sans-serif;
    font-size: 1.4em;
    line-height: 1.6em;
    color:rgb(186,218,85);
}


.test h1{
    font-family: sans-serif;
    font-size: 20vw;
    font-weight: bold;
    letter-spacing: -.1em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px rgba(255,0,0,.8);
    background-image: url(../images/bg.jpg);
    background-blend-mode: multiply;
    background-color: #BADA55;
    background-size:cover;
    background-position:-20% -50%;
    // background-image: -webkit-linear-gradient(top,#d5b096,#97461a);
    color:rgba(255,0,0,.8);
}